<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Signup</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
 <style>
  form {
    max-width: 500px;
    margin: 0 auto;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
  }

  .btn {
    margin-top: 20px;
  }

  .alert {
    margin-top: 20px;
    padding: 10px;
    color: white;
    font-weight: bold;
  }

  .alert-success {
    background-color: green;
  }

  .alert-danger {
    background-color: red;
  }
</style>
</head>
<body>
 <div class="container d-flex justify-content-center align-items-center" style="height: 100vh">
    <form th:action="@{/adminSignup}" th:object="${adminSignUp}" method="post">
  <div class="form-group">
    <label for="adminName">Admin Name:</label>
    <input type="text" class="form-control" id="adminName" th:field="*{adminName}" placeholder="Enter admin name">
  </div>
  <div class="form-group">
    <label for="adminMail">Admin Email:</label>
    <input type="email" class="form-control" id="adminMail" th:field="*{adminEmail}" placeholder="Enter admin email">
  </div>
  <div class="form-group">
    <label for="adminPass">Password:</label>
    <input type="password" class="form-control" id="adminPass" th:field="*{adminPass}" placeholder="Enter password">
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
  <p class="text-center text-danger" th:text="${signUp}" >
</form>
<br>
<a class="btn btn-primary" href="adminLogin" role="button">LogIn</a>

</div>

</body>
</html>
