<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Signup</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
    <style>
  form {
    max-width: 500px;
    margin: 0 auto;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
  }

  .btn {
    margin-top: 20px;
  }

  .alert {
    margin-top: 20px;
    padding: 10px;
    color: white;
    font-weight: bold;
  }

  .alert-success {
    background-color: green;
  }

  .alert-danger {
    background-color: red;
  }
</style>
</head>
<body>
 <div class="container d-flex justify-content-center align-items-center" style="height: 100vh">
    <form th:action="@{/userSignup}" th:object="${signUp}" method="post">
  <div class="form-group">
    <label for="userName">User Name:</label>
    <input type="text" class="form-control" id="userName" field="*{userName}" name="userName"  placeholder="Enter User name">
  </div>
  <div class="form-group">
    <label for="userMail">User Email:</label>
    <input type="email" class="form-control" id="userMail" field="*{userEmail}" name="userEmail"  placeholder="Enter User email">
  </div>
  <div class="form-group">
    <label for="userPass">Password:</label>
    <input type="password" class="form-control" id="userPass" field="*{userPass}" name="userPass"  placeholder="Enter password">
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
</div>

</body>
</html>
